{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-md-10 hours">
      <div class="statement-small">
        <br>
        <p> <em> Open Thursday and Friday 4-8 and Saturday 12-8
          <br> <a class="map-link" href="{{ GOOGLE_MAPS_URL }}">2617 E. Washington Ave Madison, WI</a>
          <br> (608) 618-3746 </em> </p>
        <br>
      </div>
    </div>
    <div class="col-md-2">
      <header class="header-image">
        <div class="headline text-center">
          <img class="img-responsive corner-logo" src="{% static 'img/logo_small.png' %}" alt="VintageHopsLogo" id="logo-small" />
        </div>
      </header>
    </div>
  </div>
</div>
