{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="header-image">
        <div class="headline text-center">
          <img class="img-responsive" src="{% static 'img/logo_small.png' %}" alt="VintageHopsLogo" id="logo" />
          <div class="col-md-8 col-md-offset-2">
          </div>
        </div>
      </header>
    </div>
  </div>
</div>

<div class="statement-small">
  <div class="col-md-4 col-md-offset-4">
    <p> <em> Open Thursday and Friday 4-8 and Saturday 12-8
      <br> <a class="map-link" href="{{ GOOGLE_MAPS_URL }}">2617 E. Washington Ave Madison, WI</a>
      <br> (608) 618-3746 </em> </p>
    <br>
  </div>
</div>
