* {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.main {
    margin-bottom: 3em;
}

.navbar {
  background-color: #13250e;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>.active>
a, .navbar-inverse .navbar-nav>.active>
a:focus, .navbar-inverse .navbar-nav>.active>
a:hover {
  background-color: #174f17;
}

.navbar-default .navbar-nav > li >
a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #808080;
}

.headline {
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  display: block;
  margin: 0 auto;
}

p .lead {
  font-size: 180%;
  color: #330000;
  width: 1000px;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-family: 'Pacifico', cursive !important;
}

h2 {
  background-color: #174f17;
  color: white;
}

#announcements {
  text-align: right;
}

#gallery {
  text-align: right;
}
