* {
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
    margin-bottom: 3em;
}

.navbar {
  background-color: #13250e;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>.active>
a, .navbar-inverse .navbar-nav>.active>
a:focus, .navbar-inverse .navbar-nav>.active>
a:hover {
  background-color: #174f17;
}

.navbar-default .navbar-nav > li >
a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #808080;
}

.headline {
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  display: block;
  margin: 0 auto;
}

.statement {
  font-size: 180%;
  color: #330000;
  display: block;
  margin: auto;
  font-family: 'Pacifico', cursive !important;
}

.featurette-divider {
  margin-top: 0px;
}

h2 {
  background-color: #174f17;
  color: white;
}

.featurette-title {
  background-color: white;
}

h2 a:link {
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

h2 a:visited {
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

h2 a:hover {
  background-color: white;
  color: #174f17;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

h2 a:active {
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

.featurette-heading {
  font-size: 350%;
}

#announcements {
  text-align: right;
}

h4 a:link {
  font-size: 20px;
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

h4 a:visited {
  font-size: 20px;
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

h4 a:hover {
  font-size: 20px;
  background-color: white;
  color: #174f17;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

h4 a:active {
  font-size: 20px;
  background-color: white;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

.media-body p {
  font-size: 20px;
}

#gallery {
  text-align: right;
}

.gallery-title {
  background-color: white;
}

.hoppy-update {
  background-color: white;
}

.map {
    border: 10px solid #73AD21;
    border-color: #13250e;
}

.page-header .lead {
  font-size: 35px;
  background-color: #174f17;
  color: white;
  padding-left: 10px;
}

.alert {
  text-align: center;
}

.lead {
  font-size: 35px;
}

.detail {
  font-size: 25px;
  color: #330000;
  font-family: 'Pacifico', cursive;
}

.body {
  font-size: 20px;
}

#artists {
  font-size: 40px;
}

footer .img-responsive {
  margin: 0 auto;
}

.artist_title {
  color: #330000;
  font-family: 'Pacifico', cursive;
}

.caption a:hover {
  text-decoration: none;
}

.artist_content {
  font-size: 15px;
}


/* Social Buttons */
.social a:hover {
    opacity: .7;
}

.social a {
    text-decoration: none;
}

.social .fa {
    border-radius: 50%;
}

.social .fa-facebook {
    background: #3b5998;
    color: #fff;
}

.social .fa-twitter {
    background: #00aced;
    color: #fff;
}

.social .fa-instagram {
    background: #666666;
    color: #fff;
}
