{% extends "base.html" %} {% load thumbnail staticfiles %} {% block content %}

<div class="row">
  {% include "partials/header_small.html" %}
</div>

<div class="page-header">
  <h1 class="lead"> Announcements </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well" id="newspaper">
      <p class="lead" id="newspaper-title"></p>
      <p id="newspaper-body">Did you know the hops museum has a printed newspaper?
        You can read archived copies <a href="{% url 'newspaper-list' %}">here</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% for update in object_list %}
      {% include 'partials/media.html' with item=update %} {% endfor %} {% if pager %}
      <hr>
      <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
          <a href="{% url 'announcement-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li class="next">
          <a href="{% url 'announcement-list' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <div class="col-md-6">
      {% include "partials/twitter_timeline.html" %}
    </div>
  </div>
</div>
{% endblock %} {% block active_link %}
<input id="activeLink" type="hidden" value="announcementLink" /> {% endblock %}
