{% extends "base.html" %}
{% load thumbnail %}
{% block meta %}
{% include "partials/detail_meta.html" with object=object %}
{% endblock %}
{% block content %}

<hr class="featurette-divider">

<div class="col-md-10 col-md-offset-1">
  <div class="featurette" id="event_detail">
    {% if object.image %} {% thumbnail object.image "300x300" crop="center" as im %}
    <img class="featurette-image img-circle img-responsive pull-left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"> {% endthumbnail %} {% endif %}
    <h2 class="lead">{{ object.title }}
    </h2>
    {% if object.end %}
    <p class="event_time">{{ object.start | date:"M d P" }} - {{ object.end | date:"P" }}</p>
    {% else %}
    <p class="event_time">{{ object.start | date:"M d P" }}</p>
    {% endif %}
    <p class="body">{{ object.description }}</p>
    {% include "partials/share.html" %}
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% include "partials/comments.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block active_link %}
<input id="activeLink" type="hidden" value="eventsLink" /> {% endblock %}
