{% extends "base.html" %}
{% load thumbnail markdown_deux_tags staticfiles %}

{% block meta %}
{% include "partials/detail_meta.html" with object=object %}
{% endblock %}

{% block content %}

<div class="row">
  {% include "partials/header_small.html" %}
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="featurette" id="announcement_detail">
    {% if object.image %} {% thumbnail object.image "300x300" crop="center" as im %}
    <img class="featurette-image img-circle img-responsive pull-left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"> {% endthumbnail %} {% endif %}
    <h2 class="lead">{{ object.title }}
    </h2>
    <p class="detail">{{ object.date | date }}</p>
    <h2 class="featurette-title">
    </h2>
    <p class="body">{{ object.description }}</p>
    <div class="body">{{ object.body | markdown }}</div>
    {% include "partials/share.html" %}
    <hr>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  {% for item in object.galleryimage_set.all %}
  <div class="col-xs-6 col-md-3">
    <a href="{{ item.image.url }}" class="thumbnail big-image">
      {% thumbnail item.image "300x200" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </a>
  </div>
  {% endfor %}
</div>

<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {% include "partials/comments.html" %}
  </div>
</div>

{% endblock %} {% block active_link %}
<input id="activeLink" type="hidden" value="galleryLink" /> {% endblock %}
