{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="page-header">
  <h1 class="lead" id="artists">Artists</h1>
</div>

<div class="row">
  {% for item in object_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="{{ item.get_absolute_url }}">
        {% thumbnail item.image "300x300" crop="center" as im %}
        <img class="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </a>
      <div class="caption">
        <h3 class="artist_title">{{ item.title }}</h3>
      <div class="artist_content">
        <p>{{ item.date }}</p>
        <p>{{ item.description }}</p>
      </div>  
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% if pager %}
<hr>
<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous">
    <a href="{% url 'gallery-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
  </li>
  {% endif %}
  {% if page_obj.has_next %}
  <li class="next">
    <a href="{% url 'gallery-list' %}?page={{ page_obj.next_page_number }}">Next</a>
  </li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="galleryLink"/>
{% endblock %}
