{% extends "base.html" %}
{% block content %}
<br>
<div class="col-md-8 col-md-offset-2">
  <div class="page-header"id="donate">
    <h1 class="lead">Giving Back </h1>
  <h2>We're a free, community curated museum!</h2>
  <p>
    We want you to get involved in our project!  You can help us out by becoming
    a Hoppourtunist or by volunteering - and we are more than happy to accept donations!
  </p>
  <p>
    Got an idea for something you've always thought was cool,
    but have never seen anyone do?  Let us know!  Our exhibits
    are developed <em>with</em> our community and <em>for</em>
    our community, so let us know what you'd like to see.
  </p>

  {% if partners %}
  <h2>Our Partners our Awesome!</h2>
  <p>We'd like to thank these people for their partnership with the Hops Museum</p>
  <ul >
    {% for partner in partners %}
    {% if partner.link %}
    <li><a href="{{ partner.link }}">{{ partner.name }}</a></li>
    {% else %}
    <li>{{ partner.name }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  <p>
    <strong>TODO:</strong> add paypal or square links here
  </p>
</div>
</div>
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="giveLink"/>
{% endblock %}
