{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="header-image">
        <div class="headline text-center">
          <img class="img-responsive" src="{% static 'img/give-logo.png' %}" alt="VintageHopsLogo" id="logo" />
          <div class="col-md-8 col-md-offset-2">
          </div>
        </div>
      </header>
    </div>
  </div>
</div>


<div class="col-md-10 col-md-offset-1">
  <div class="page-header"id="donate">
    <h1 class="lead"> Giving Back </h1>
    <h2>We're a free, community curated museum!</h2>
    <p> The Hops Museum depends on the generosity of foundations, corporations and dedicated individuals to maintain the expansion of the museums enriching public programs/activities. In this section of the website you will find many ways in which you can participate in and support the Hops Museum. Join us in our efforts in bringing together community by becoming a member, volunteer, donor or partner of the Hops Museum. All or part of your gift may be tax deductible as a charitable contribution. Please check with your tax advisor. The Hop Museum, Inc. is a not-for-profit 501(c)3 Here are some ways to give/ donate...</p>
    <br>
    <br>
    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-money"></i> Check, Money Order, or Cash </div>
      <div class="panel-body">
        Mail in your check or money order today and begin receiving donor benefits. You can also make cash donations using a card or Paypal here.
      </div>
      <div class="panel-footer text-center">
        {% include "partials/paypal.html" %}
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-clock-o"></i> Donate Time</div>
      <div class="panel-body">
        Volunteers support the Hops Museum in activities that range from interacting with visitors to providing administrative support for the staff
      </div>
      <div class="panel-footer">
        <i class="fa fa-envelope"> Email our <a href="mailto:{{ CURATOR_EMAIL }}">curator</a> for more information</i>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-lightbulb-o"></i> Other Ways to Donate </div>
      <div class="panel-body">
        <ul>
          <li>Non-cash donation of goods or services can be a wonderful way to support The Hops Museum. In addition, donors receive a tax-donation equal to the fair market value of the goods and services donated.</li>
          <li>Become a member. Sign up to receive updates from the Hops Museum of about upcoming exhibits, events, special offers and more! </li>
          <li>Become a partner. All gifts are important to supporting the Hops Museum, and Annual Fund donations of $250 or more are recognized in our special giving fellowship.</li>
          <li>Have an idea for an event for the community?  Let us hear about it!</li>
          <li>Did you know our website is opensource?  Fork us on <a href="{{ GITHUB_URL }}">github</a> <i class="fa fa-github"></i></li>
        </ul>
      </div>
    </div>

    {% if partners %}
    <h2>Our Partners our Awesome!</h2>
    <p>
      We'd like to thank these people for their partnership</div>
    </p>
    <ul >
      {% for partner in partners %}
      {% if partner.link %}
      <li><a href="{{ partner.link }}">{{ partner.name }}</a></li>
      {% else %}
      <li>{{ partner.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>

    {% endif %}
</div>
</div>
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="giveLink"/>
{% endblock %}
