{% extends "base.html" %}
{% block content %}
<br>
<div class="col-md-8 col-md-offset-2">
  <div class="page-header"id="donate">
    <h1 class="lead">Giving Back </h1>
    <h2>We're a free, community curated museum!</h2>
    <p>
      We want you to get involved in our project!
    </p>

    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-money"></i> Donate Money</div>
      <div class="panel-body">
        Financial donations are welcome, and go toward community exhibits.
      </div>
      <div class="panel-footer text-center">
        {% include "partials/paypal.html" %}
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-clock-o"></i> Donate Time</div>
      <div class="panel-body">
        Volunteer at a hoppy event, an exhibit, or rent the space out for your own event.
      </div>
      <div class="panel-footer">
        <i class="fa fa-envelope"> Email our <a href="mailto:{{ CURATOR_EMAIL }}">curator</a> for more information</i>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading"><i class="fa fa-lightbulb-o"></i> Donate Ideas</div>
      <div class="panel-body">
        <ul>
          <li>Have an idea for an event for the community?  Let us hear about it!</li>
          <li>Did you know our website is opensource?  Fork us on <a href="{{ GITHUB_LINK }}">github</a> <i class="fa fa-github"></i></li>
        </ul>
      </div>
    </div>

    {% if partners %}
    <h2>Our Partners our Awesome!</h2>
    <p>
      We'd like to thank these people for their partnership</div>
    </p>
    <ul >
      {% for partner in partners %}
      {% if partner.link %}
      <li><a href="{{ partner.link }}">{{ partner.name }}</a></li>
      {% else %}
      <li>{{ partner.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>

    {% endif %}
</div>
</div>
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="giveLink"/>
{% endblock %}
