{% extends "base.html" %} {% load thumbnail markdown_deux_tags staticfiles %} {% block content %}
<br>

<div class="statement-small">
  <div class="col-md-4 col-md-offset-4">
    <p> <em> Open Thursday and Friday 4-8 and Saturday 12-8
      <br> <a href="{{ GOOGLE_MAPS_URL }}">2617 E. Washington Ave Madison, WI</a>
      <br> (608) 618-3746 </em> </p>
    <br>
  </div>
</div>

<div class="row social text-center">
  <div class="col-md-4 col-md-offset-4">
    <a href="{{ FACEBOOK_URL }}" title="facebook" target="_blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>
    </a>
    <a href="{{ TWITTER_URL }}" title="twitter" target="_blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <a href="{{ INSTAGRAM_URL }}" title="instagram" target="_blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </span>
    </a>
  </div>
</div>


<!-- Announcements -->
<div class="featurette" id="announcements">
  {% if latest_announcement.image %} {% thumbnail latest_announcement.image "300x300" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ im.url }}"> {% endthumbnail %} {% else %}
  <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'img/strobile_group.png' %}"> {% endif %}
  <h2 class="featurette-heading text-right">What's New?</h2>
  <div class="media text-right">
    <div class="media-body">
      <a href="{{ latest_announcement.get_absolute_url }}">
        <h4 class="media-heading">{{ latest_announcement.title }}</h4>
      </a>
    </div>
  </div>
  <div class="body_text text-right">{% if latest_announcement %}
    <p>{{ latest_announcement.description }}</p>
    <p><a href="{{ latest_announcement.get_absolute_url }}">Read more...</a></p>
  </div>{% endif %}
</div>

<hr class="featurette-divider">

<!-- Events -->
<div class="featurette" id="services">
  {% with latest_events|first as latest_event %} {% if latest_event.image %} {% thumbnail latest_event.image "300x300" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-left" src="{{ im.url }}"> {% endthumbnail %} {% else %}
  <img class="featurette-image img-circle img-responsive pull-left" src="{% static 'img/strobile_group.png' %}"> {% endif %} {% endwith %}
  <h2 class="featurette-heading">Upcoming Events</h2> {% for event in latest_events %}
  <div class="media">
    <div class="media-body">
      <a href="{{ event.get_absolute_url }}">
        <h4 class="media-heading">{{ event.title }}</h4>
      </a>
      <p class="body_text">{{ event.description | markdown }}</p>
    </div>
  </div>{% endfor %}
</div>

<hr class="featurette-divider">

<!-- Gallery -->
<div class="featurette" id="announcements">
  {% if latest_gallery.image %} {% thumbnail latest_gallery.image "300x300" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ im.url }}"> {% endthumbnail %} {% else %}
  <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'img/strobile_group.png' %}"> {% endif %}
  <h2 class="featurette-heading text-right">Latest Artists and Exhibits</h2>
  <div class="media text-right">
    <div class="media-body">
      <a href="{{ latest_gallery.get_absolute_url }}">
        <h4 class="media-heading">{{ latest_gallery.title }}</h4>
      </a>
      <div class="body_text">{% if latest_gallery %}
        <p>{{ latest_gallery.description }}</p>
        <p><a href="{{ latest_gallery.get_absolute_url }}">Read more...</a></p>
      </div>{% endif %}
    </div>
  </div>
</div>

<hr class="featurette-divider">

<!-- Hoppy -->
<div class="featurette">
  {% if latest_hoppy.image %} {% thumbnail latest_hoppy.image "300x300" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-left" src="{{ im.url }}"> {% endthumbnail %} {% else %}
  <img class="featurette-image img-circle img-responsive pull-left" src="{% static 'img/strobile_group.png' %}"> {% endif %}
  <h2 class="featurette-heading text-left">Where's Hoppy?</h2>
  <div class="media text-left">
    <div class="media-body">
      <a href="{{ latest_hoppy.get_absolute_url }}">
        <h4 class="media-heading">{{ latest_hoppy.title }}</h4>
      </a>
    </div>
  </div>
  <div class="body_text">{% if latest_hoppy %}
    <p>{{ latest_hoppy.description }}</p>
    <p><a href="{{ latest_hoppy.get_absolute_url }}">Read more...</a></p>
  </div>{% endif %}
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="embed-responsive embed-responsive-4by3 map">
      {% include "partials/brewery_map.html" %}
    </div>
  </div>
</div>

{% endblock %}
