{% extends "base.html" %}
{% load happenings_tags thumbnail %}
{% block content %}
<hr class="featurette-divider">

<!-- Announcements -->
<div class="featurette">
  {% thumbnail latest_announcement.image "500x500" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-right"
       src="{{ im.url }}"
       width="{{ im.width }}"
       height="{{ im.height }}">
  {% endthumbnail %}
  <h2 class="featurette-heading">What's New?
    <span class="text-muted">Will Catch Your Eye</span>
  </h2>
  <h2>{{ latest_announcement.title }}</h2>
  <p class="lead">{{ latest_announcement.description }}</p>
</div>

<hr class="featurette-divider">

<!-- Events -->
<div class="featurette" id="services">
  <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
  <h2 class="featurette-heading">Upcoming Events
    <!-- <span class="text-muted">Is Pretty Cool Too.</span> -->
  </h2>
  {% upcoming_events %}
</div>

<hr class="featurette-divider">

<!-- Gallery -->
<div class="featurette">
  {% thumbnail latest_gallery.image "500x500" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-right"
       src="{{ im.url }}"
       width="{{ im.width }}"
       height="{{ im.height }}">
  {% endthumbnail %}
  <h2 class="featurette-heading">Latest Gallery
    <span class="text-muted">Will Catch Your Eye</span>
  </h2>
  <h2>{{ latest_gallery.title }}</h2>
  <p class="lead">{{ latest_gallery.description }}</p>
</div>

<hr class="featurette-divider">

<div class="featurette" id="contact">
  {% thumbnail latest_hoppy.image "500x500" crop="center" as im %}
  <img class="featurette-image img-circle img-responsive pull-right"
       src="{{ im.url }}"
       width="{{ im.width }}"
       height="{{ im.height }}">
  {% endthumbnail %}
  <h2 class="featurette-heading">Where's Hoppy?
    <!-- <span class="text-muted">Will Seal the Deal.</span> -->
  </h2>
  <p class="lead">
    {{ latest_hoppy.description }}
  </p>
</div>
{% endblock %}
