{% extends "base.html" %} {% load thumbnail staticfiles %} {% block content %}

<div class="row">
  {% include "partials/header_small.html" %}
</div>

<div class="featurette" id="hoppyupdate_detail">
  <img class="featurette-image img-circle img-responsive pull-left" src="{% static 'img/cowboyhoppy.png' %}" />
  <h2 class="lead"> Who is Hoppy?</h2>
  <p class="body"> Hopy is our mascot! She helps us go around town teaching everyone about hops and the Hops Museum.
  </div>

<div class="row">
  {% for item in object_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="{{ item.get_absolute_url }}">
        {% thumbnail item.image "300x300" crop="center" as im %}
        <img class="" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </a>
      <div class="caption">
        <a href="{{ item.get_absolute_url }}">
          <h3 class="artist_title">{{ item.title }}</h3>
        </a>
        <div class="artist_content">
          <p>{{ item.date }}</p>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-success text-center" role="alert"> Want to help with hoppy? Email us at
      <a href="mailto:{{ CURATOR_EMAIL }}" class="alert-link">{{ CURATOR_EMAIL }}</a>
    </div>
  </div>
</div>


{% for update in object_list %} {% endfor %} {% if pager %}

<hr>
<ul class="pager">
  {% if page_obj.has_previous %}
  <li class="previous">
    <a href="{% url 'hoppy-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
  </li>
  {% endif %} {% if page_obj.has_next %}
  <li class="next">
    <a href="{% url 'hoppy-list' %}?page={{ page_obj.next_page_number }}">Next</a>
  </li>
  {% endif %}
</ul>
{% endif %} {% endblock %} {% block active_link %}
<input id="activeLink" type="hidden" value="hoppyLink" /> {% endblock %}
