{% extends "base.html" %}
{% load staticfiles happenings_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'happenings/css/calendar.css' %}">
{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert">
  Want to plan an event? <a class="alert-link" href="mailto:{{ CURATOR_EMAIL }}">Send us an email</a>
</div>
<div id="event-calendar">
  {{ calendar|safe }}
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'happenings/js/calendar.js' %}"></script>
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="calendarLink"/>
{% endblock %}
