{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1 class="lead">Our Newspaper</h1>
      </div>

      <div class="list-group">
        {% for archive in object_list %}
        <a href="{{ archive.file.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">  {{ archive.title }} ({{ archive.date | date }})</h4>
          {% if archive.description %}
          <p class="list-group-item-text">{{ archive.description }}</p>
          {% endif %}
        </a>
          {% endfor %}
      </div>


      {% if pager %}
      <hr>
      <ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous">
          <a href="{% url 'newspaper-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li class="next">
          <a href="{% url 'newspaper-list' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block active_link %}
<input id="activeLink" type="hidden" value="announcementLink" /> {% endblock %}
