{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1 class="lead">Search Results</h1>
  </div>
  <div class="row">
    {% if announcements %}
    <div class="col-md-4">
      {% for item in announcements %}
      {% include "partials/media.html" with item=item %}
      {% endfor %}
    </div>
    {% endif %} {% if hoppies %}
    <div class="col-md-4">
      {% for item in hoppies %}
      {% include "partials/media.html" with item=item %}
      {% endfor %}
    </div>
    {% endif %}
    {% if galleries %}
    <div class="col-md-4">
      {% for item in galleries %}
      {% include "partials/media.html" with item=item %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
